.content{
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
  border-style: solid;
  border-color: grey;
}

form{
  margin-left: 10%;
  margin-right: 10%;
}

.graph{
  border-style:solid;
}

.legend{
  overflow: scroll;
}
